<div class="nav">
  <div class="left">
    <div class="nav-links">
      <a href="#">{{ 'NAVBAR.home' | translate }}</a>
      <a href="#about-us">{{ 'NAVBAR.about-us' | translate }}</a>
      <a [routerLink]="['/pricing']">{{ 'NAVBAR.pricing-templates' | translate }}</a>
    </div>
  </div>
  <div class="middle">
    <div class="nav-links">
      <a href="#">
        <img class="logo" src="../../../assets/img/logo.png" alt="Logo">
      </a>
    </div>
  </div>
  <div class="right">
    <div class="language-switch-wrapper" [class.active]="languageDropdownOpen" (click)="toggleLanguageDropdown($event)">
      <a class="language-switch" aria-label="Change language">
        <span class="current-language">{{ currentLanguage.toUpperCase() }}</span>
        <svg class="dropdown-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24">
          <polyline points="6 9 12 15 18 9" />
        </svg>
      </a>

      <div class="language-dropdown" [class.active]="languageDropdownOpen">
        <a (click)="setLanguage('en'); $event.stopPropagation()">English</a>
        <a (click)="setLanguage('nl'); $event.stopPropagation()">Nederlands</a>
      </div>
    </div>
    <div class="nav-links">
        <a href="#contact">{{ 'NAVBAR.contact' | translate }}</a>
      <!-- @if (!loggedIn) {
        <a href="#contact">{{ 'NAVBAR.contact' | translate }}</a>
      } @else {
        <a href="" (click)="logout();">{{ 'NAVBAR.logout' | translate }}</a>
      } -->
    </div>
  </div>

  <div class="hamburger" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="mobile-menu" [class.active]="menuOpen">
    <a href="#" (click)="toggleMenu()">{{ 'NAVBAR.home' | translate }}</a>
    <a href="#about-us" (click)="toggleMenu()">{{ 'NAVBAR.about-us' | translate }}</a>
    <a [routerLink]="['/pricing']" (click)="toggleMenu()">{{ 'NAVBAR.pricing-templates' | translate }}</a>
    <a href="#contact" (click)="toggleMenu()">{{ 'NAVBAR.contact' | translate }}</a>
  </div>
</div>