<div class="demo-content">
    <div class="demos">
        <div class="scroll-back">
            <div class="animation" (click)="scrollLeft()">
                <ng-lottie [options]="scrollAnimation"></ng-lottie>
            </div>
        </div>
        <div class="preview-row" #previewRow>
            <div class="demo">
                <demo1-component></demo1-component>
            </div>
            <div class="demo">
                <demo1-component></demo1-component>
            </div>
        </div>
        <div class="scroll-forward">
            <div class="animation" (click)="scrollRight()">
                <ng-lottie [options]="scrollAnimation"></ng-lottie>
            </div>
        </div>
    </div>
</div>