.demo-content {
  display: flex;
  flex-direction: column;
  height: 100vh; // Fill the full height of the screen

  padding: 0;
  margin: 0;

  .demos {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    h2 {
      margin: 0 0 0.5rem 0;
      font-size: 1.2rem;
    }

    .preview-row {
        display: flex;
      flex-direction: row;
      overflow-x: auto;
    }

    .demo {
      pointer-events: none;  // disables scroll/click inside preview
      width: 100rem ; // Set to real width * scale
      height: 40rem;
      max-height: 100%;
      pointer-events: none;
    }
  }
}
