<div class="demo-content">
    <div class="demos">
        <h2>Normale website's</h2>
        <div class="preview-row">
            <div class="demo">
                <demo1-component></demo1-component>
            </div>
            <div class="demo">
                <demo1-component></demo1-component>
            </div>
            <div class="demo">
                <demo1-component></demo1-component>
            </div>
            <!-- more components -->
        </div>
    </div>

    <div class="demos">
        <h2>Geanimeerde website's</h2>
        <div class="preview-row">
            <div class="demo">
                <demo1-component></demo1-component>
            </div>
        </div>
    </div>

    <div class="demos">
        <h2>Overige website's</h2>
        <div class="preview-row">
            <div class="demo">
                <demo1-component></demo1-component>
            </div>
        </div>
    </div>
</div>