.demo1-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.canvas {
    display: flex;
    height: 90%;
    width: 90%;
    
    border: 1px solid white;
}