<miyou-modal [visible]="showBanner" [title]="'Cookies'" [showCloseButton]="false" [showAllButton]="true" [showNecessaryButton]="true" [allButtonLabel]="'COOKIE_BANNER.allButton' | translate"  [necessaryButtonLabel]="'COOKIE_BANNER.necessaryButton' | translate"
 (okAll)="acceptAll()" (okNecessary)="acceptNecessaryOnly()" (close)="showBanner = false">
    <div class="cookie-banner">
    <p>{{ 'COOKIE_BANNER.description' | translate }}</p>
    <a [routerLink]="['/cookies']">{{ 'COOKIE_BANNER.moreInfo' | translate }}</a>
  </div>
</miyou-modal>