<section class="templates-section">
  <h2>Templates</h2>
  <div class="templates">
    <div class="template">
      <div class="template-name">Email Service</div>
      <h4>Stuur en ontvang e-mails met raketsnelheid — snel, makkelijk en betrouwbaar!</h4>
      <div class="item-list">
        <div class="item"><span class="icon checkmark">&#10003;</span> 5 e-mailtemplates</div>
        <div class="item"><span class="icon">&#43;</span> Extra sjablonen mogelijk</div>
        <div class="item"><span class="icon cross">&#10007;</span> Ingebouwde statistieken (open/click rate)</div>

      </div>
      <div class="price">

      </div>
    </div>

    <div class="template">
      <div class="template-name">Website beheer</div>
      <!-- <ng-lottie [options]="step2Animkation" ></ng-lottie> -->
      <h3>Wij plannen een afspraak</h3>
      <p>Samen kijken we wat u nodig hebt en plannen een moment om alles door te nemen.</p>
    </div>

    <div class="template">
      <div class="template-name">3</div>
      <!-- <ng-lottie [options]="step3Animation" ></ng-lottie> -->
      <h3>Aan de slag!</h3>
      <p>Wij vertalen uw ideeën naar een strakke, goed werkende website — precies zoals u het wilt!</p>
    </div>

    <div class="template">
      <div class="template-name">3</div>
      <!-- <ng-lottie [options]="step3Animation" ></ng-lottie> -->
      <h3>Aan de slag!</h3>
      <p>Wij vertalen uw ideeën naar een strakke, goed werkende website — precies zoals u het wilt!</p>
    </div>
    <div class="template">
      <div class="template-name">3</div>
      <!-- <ng-lottie [options]="step3Animation" ></ng-lottie> -->
      <h3>Aan de slag!</h3>
      <p>Wij vertalen uw ideeën naar een strakke, goed werkende website — precies zoals u het wilt!</p>
    </div>
  </div>
</section>