<section class="templates-section">
  <div class="templates-content">

    <div class="template-title">Templates</div>

    <div class="templates">

      <div class="template">
        <div class="template-name">Website Opzet</div>
        <h4>U wilt uw eigen website beginnen, maar geen idee hoe? Geen zorgen, wij helpen u ermee!</h4>
        <div class="item-list">
          <div class="item"><span class="icon checkmark">&#10003;</span> Registratie van een domein</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> Het opzetten van de hosting</div>
          <div class="item"><span class="icon cross">&#10007;</span> Uw ruimtepak klaarmaken</div>
        </div>
        <div class="price">
          € 60
        </div>
      </div>

      <div class="template">
        <div class="template-name">Website Beheer</div>
        <h4>Geen zin om je website zelf te onderhouden? Geen zorgen wij kunnen dat voor u doen!</h4>
        <div class="item-list">
          <div class="item"><span class="icon checkmark">&#10003;</span> Domein beheer</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> Website hosting</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> Website beveiliging</div>
          <div class="item"><span class="icon cross">&#10007;</span> Uw website op de maan bereikbaar maken</div>
        </div>
        <div class="price">
          € 50 p/m
        </div>
      </div>

      <div class="template">
        <div class="template-name">Email Service</div>
        <h4>Stuur en ontvang e-mails met raketsnelheid — snel, makkelijk en betrouwbaar!</h4>
        <div class="item-list">
          <div class="item"><span class="icon checkmark">&#10003;</span> 5 standaard sjablonen</div>
          <div class="item"><span class="icon">&#43;</span> Extra sjablonen mogelijk voor €5 p/u</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> Kleuren en text gratis aanpasbaar</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> Integratie in website</div>
          <div class="item"><span class="icon cross">&#10007;</span> Gratis email domein</div>
          <div class="item"><span class="icon cross">&#10007;</span> Uw email naar mars versturen</div>
        </div>
        <div class="price">
          € 20
        </div>
      </div>

      <div class="template">
        <div class="template-name">Verschillende talen</div>
        <h4>Uw website in meerdere talen? Dat kan!</h4>
        <div class="item-list">
          <div class="item"><span class="icon checkmark">&#10003;</span> Minimaal 2 verschillende talen</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> Snel en makkelijk wisselen</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> Uw eigen website makkelijk vertalen voor extra talen (+€20)</div>
          <div class="item"><span class="icon cross">&#10007;</span> Uw website leesbaar maken voor marsmannetjes</div>
        </div>
        <div class="price">
          € 40
        </div>
      </div>

    </div>
  </div>
</section>