<section class="templates-section">
  <div class="templates-content">

    <div class="template-title">{{ 'PRICESANDTEMPLATES.TEMPLATES.title' | translate }}</div>

    <div class="templates">

      <div class="template">
        <div class="template-name">{{ 'PRICESANDTEMPLATES.TEMPLATES.website-setup.name' | translate }}</div>
        <h4>{{ 'PRICESANDTEMPLATES.TEMPLATES.website-setup.description' | translate }}</h4>
        <div class="item-list">
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.website-setup.item-1' | translate }}</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.website-setup.item-2' | translate }}</div>
          <div class="item"><span class="icon cross">&#10007;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.website-setup.item-3' | translate }}</div>
        </div>
        <div class="price">
          {{ 'PRICESANDTEMPLATES.TEMPLATES.website-setup.price' | translate }}
        </div>
      </div>

      <div class="template">
        <div class="template-name">{{ 'PRICESANDTEMPLATES.TEMPLATES.website-management.name' | translate }}</div>
        <h4>{{ 'PRICESANDTEMPLATES.TEMPLATES.website-management.description' | translate }}</h4>
        <div class="item-list">
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.website-management.item-1' | translate }}</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.website-management.item-2' | translate }}</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.website-management.item-3' | translate }}</div>
          <div class="item"><span class="icon cross">&#10007;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.website-management.item-4' | translate }}</div>
        </div>
        <div class="price">
          {{ 'PRICESANDTEMPLATES.TEMPLATES.website-management.price' | translate }}
        </div>
      </div>

      <div class="template">
        <div class="template-name">{{ 'PRICESANDTEMPLATES.TEMPLATES.email-service.name' | translate }}</div>
        <h4>{{ 'PRICESANDTEMPLATES.TEMPLATES.email-service.description' | translate }}</h4>
        <div class="item-list">
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.email-service.item-1' | translate }}</div>
          <div class="item"><span class="icon">&#43;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.email-service.item-2' | translate }}</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.email-service.item-3' | translate }}</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.email-service.item-4' | translate }}</div>
          <div class="item"><span class="icon cross">&#10007;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.email-service.item-5' | translate }}</div>
          <div class="item"><span class="icon cross">&#10007;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.email-service.item-6' | translate }}</div>
        </div>
        <div class="price">
          {{ 'PRICESANDTEMPLATES.TEMPLATES.email-service.price' | translate }}
        </div>
      </div>

      <div class="template">
        <div class="template-name">{{ 'PRICESANDTEMPLATES.TEMPLATES.multi-language.name' | translate }}</div>
        <h4>{{ 'PRICESANDTEMPLATES.TEMPLATES.multi-language.description' | translate }}</h4>
        <div class="item-list">
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.multi-language.item-1' | translate }}</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.multi-language.item-2' | translate }}</div>
          <div class="item"><span class="icon checkmark">&#10003;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.multi-language.item-3' | translate }}</div>
          <div class="item"><span class="icon cross">&#10007;</span> {{ 'PRICESANDTEMPLATES.TEMPLATES.multi-language.item-4' | translate }}</div>
        </div>
        <div class="price">
          {{ 'PRICESANDTEMPLATES.TEMPLATES.multi-language.price' | translate }}
        </div>
      </div>

    </div>
  </div>
</section>
