<div class="analytics-page">
  <div class="grid">
    <div class="card stat-card" *ngFor="let stat of statsCards">
      <div class="card-content">
        <h2>{{ stat.title }}</h2>
        <div class="stat-value">{{ stat.value }}</div>
        <small>{{ stat.small }}</small>
      </div>
    </div>
  </div>

  <br />

  <div class="big-charts">
    <div class="card big-card">
      <div class="card-content">
        @if (isLoading) {
          <ng-lottie class="animation" [options]="cubeLoadingAnimation"></ng-lottie>
        } @else {
          <p-chart [type]="chartType" [data]="chartDataCountry" [options]="chartOptionsCountry"></p-chart>
        }
      </div>
    </div>

    <div class="card big-card">
      <div class="card-content">
        @if (isLoading) {
          <ng-lottie class="animation" [options]="cubeLoadingAnimation"></ng-lottie>
        } @else {
          <p-chart [type]="chartType" [data]="chartDataBrowser" [options]="chartOptionsBrowser"></p-chart>
        }
      </div>
    </div>

    <div class="card big-card">
      <div class="card-content">
        @if (isLoading) {
          <ng-lottie class="animation" [options]="cubeLoadingAnimation"></ng-lottie>
        } @else {
          <p-chart [type]="chartType" [data]="chartDataPage" [options]="chartOptionsPage"></p-chart>
        }
      </div>
    </div>
  </div>
</div>