<div class="container">
  <header>
    <h1>PrimeNG Chart Demo</h1>
  </header>
  <div class="controls">
    <div class="button-group">
      <select [(ngModel)]="selectedDataType" (ngModelChange)="onDataDropdownChange($event)">
        <option *ngFor="let option of analyticsDataTypeOptions" [ngValue]="option.value">
          {{ option.label }}
        </option>
      </select>
      <select [(ngModel)]="chartType" (ngModelChange)="onDataDropdownChange($event)">
        <option *ngFor="let option of chartTypes" [ngValue]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>
  <div class="chart-container">
    <p-chart [type]="chartType" [data]="chartData" [options]="chartOptions"></p-chart>
  </div>
</div>