<section class="skills-section">
    <div class="container">
        <h2>{{ 'HOME.SKILLS.title' | translate }}</h2>
        <div class="expert-skills">
            <div class="slider">
                <div class="slide-track">
                    <img src="assets/icon/programming-languages/c-sharp-logo.svg" alt="C#" />
                    <img src="assets/icon/programming-languages/.net-framework-logo.svg" alt=".NET" />
                    <img src="assets/icon/programming-languages/typescript-logo.svg" alt="TS" />
                    <img src="assets/icon/programming-languages/html-5-logo.svg" alt="HTML" />
                    <img src="assets/icon/programming-languages/css-logo.svg" alt="CSS" />
                    <img src="assets/icon/programming-languages/git-logo.svg" alt="GIT" />
                    <img src="assets/icon/programming-languages/microsoft-sql-server-logo.svg" alt="MICROSOFTSQLSERVER" />
                    <img src="assets/icon/programming-languages/npm-logo.svg" alt="NPM" />
                    <img src="assets/icon/programming-languages/lua-language-logo.svg" alt="LUA" />
                    
                    <img src="assets/icon/programming-languages/c-sharp-logo.svg" alt="C#" />
                    <img src="assets/icon/programming-languages/.net-framework-logo.svg" alt=".NET" />
                    <img src="assets/icon/programming-languages/typescript-logo.svg" alt="TS" />
                    <img src="assets/icon/programming-languages/html-5-logo.svg" alt="HTML" />
                    <img src="assets/icon/programming-languages/css-logo.svg" alt="CSS" />
                    <img src="assets/icon/programming-languages/git-logo.svg" alt="Example Icon" />
                    <img src="assets/icon/programming-languages/microsoft-sql-server-logo.svg" alt="MICROSOFTSQLSERVER" />
                    <img src="assets/icon/programming-languages/npm-logo.svg" alt="NPM" />
                    <img src="assets/icon/programming-languages/lua-language-logo.svg" alt="LUA" />


                    <img src="assets/icon/programming-languages/c-sharp-logo.svg" alt="C#" />
                    <img src="assets/icon/programming-languages/.net-framework-logo.svg" alt=".NET" />
                    <img src="assets/icon/programming-languages/typescript-logo.svg" alt="TS" />
                    <img src="assets/icon/programming-languages/html-5-logo.svg" alt="HTML" />
                    <img src="assets/icon/programming-languages/css-logo.svg" alt="CSS" />
                    <img src="assets/icon/programming-languages/git-logo.svg" alt="GIT" />
                    <img src="assets/icon/programming-languages/microsoft-sql-server-logo.svg" alt="MICROSOFTSQLSERVER" />
                    <img src="assets/icon/programming-languages/npm-logo.svg" alt="NPM" />
                    <img src="assets/icon/programming-languages/lua-language-logo.svg" alt="LUA" />


                    <img src="assets/icon/programming-languages/c-sharp-logo.svg" alt="C#" />
                    <img src="assets/icon/programming-languages/.net-framework-logo.svg" alt=".NET" />
                    <img src="assets/icon/programming-languages/typescript-logo.svg" alt="TS" />
                    <img src="assets/icon/programming-languages/html-5-logo.svg" alt="HTML" />
                    <img src="assets/icon/programming-languages/css-logo.svg" alt="CSS" />
                    <img src="assets/icon/programming-languages/git-logo.svg" alt="GIT" />
                    <img src="assets/icon/programming-languages/microsoft-sql-server-logo.svg" alt="MICROSOFTSQLSERVER" />
                    <img src="assets/icon/programming-languages/npm-logo.svg" alt="NPM" />
                    <img src="assets/icon/programming-languages/lua-language-logo.svg" alt="LUA" />

                </div>
            </div>
        </div>
        <div class="other-skills">
            {{ 'HOME.SKILLS.other.skills-text' | translate}}
        </div>
    </div>
</section>