<section class="skills-section">
    <div class="container">
        <h2>{{ 'HOME.SKILLS.title' | translate }}</h2>
        <div class="expert-skills">
            <div class="slider">
                <img src="assets/icon/programming-languages/c-sharp-logo.svg" alt="Example Icon" />
                <img src="assets/icon/programming-languages/.net-framework-logo.svg" alt="Example Icon" />
                <img src="assets/icon/programming-languages/typescript-logo.svg" alt="Example Icon" />
                <img src="assets/icon/programming-languages/html-5-logo.svg" alt="Example Icon" />
                <img src="assets/icon/programming-languages/css-logo.svg" alt="Example Icon" />
                <img src="assets/icon/programming-languages/git-logo.svg" alt="Example Icon" />
                <img src="assets/icon/programming-languages/microsoft-sql-server-logo.svg" alt="Example Icon" />
            </div>
        </div>
        <div class="other-skills">

        </div>
    </div>
</section>