<div class="content">
    <div class="row-1">
        <div class="block client-information">
            <div class="title">
                Client infomatie
            </div>
            <div class="details">
                <div class="placeholder">
                    <div class="holder">Email</div>
                    <div class="holder">Telefoon nummer</div>
                    <div class="holder">KvK nummer</div>
                    <div class="holder">Email</div>
                    <div class="holder">Email</div>
                    <div class="holder">Email</div>
                </div>
                <div class="info">

                </div>
            </div>
        </div>
        <div class="cell">
            <div class="block client-name">
                LoVis
            </div>
            <div class="block">

            </div>
        </div>
        <div class="block">

        </div>
    </div>
</div>