<section class="contact-section">
  <h2>Contact</h2>

  @if (isSuccess === undefined) {
    <form [formGroup]="contactForm" (ngSubmit)="sendContact()">
      <div class="form-group">
        <label for="name">Naam*</label>
        <input id="name" type="text" placeholder="Uw volledige naam" formControlName="name" />
        @if (contactForm.get('name')?.touched && contactForm.get('name')?.invalid) {
          @if (contactForm.get('name')?.errors?.['required']) {
            <small>Naam is verplicht.</small>
          }
          @if (contactForm.get('name')?.errors?.['maxlength']) {
            <small>Maximaal 150 tekens.</small>
          }
        }
      </div>

      <div class="form-group">
        <label for="companyName">Bedrijfsnaam</label>
        <input id="companyName" type="text" placeholder="Uw bedrijfsnaam" formControlName="companyName" />
        @if (contactForm.get('companyName')?.touched && contactForm.get('companyName')?.invalid) {
          @if (contactForm.get('companyName')?.errors?.['maxlength']) {
            <small>Maximaal 50 tekens.</small>
          }
        }
      </div>

      <div class="form-group">
        <label for="email">Email*</label>
        <input id="email" type="email" placeholder="Uw email" formControlName="email" />
        @if (contactForm.get('email')?.touched && contactForm.get('email')?.invalid) {
          @if (contactForm.get('email')?.errors?.['required']) {
            <small>Email is verplicht.</small>
          }
          @if (contactForm.get('email')?.errors?.['email']) {
            <small>Ongeldig emailadres.</small>
          }
          @if (contactForm.get('email')?.errors?.['maxlength']) {
            <small>Maximaal 100 tekens.</small>
          }
        }
      </div>

      <div class="form-group">
        <label for="idea">Idee*</label>
        <textarea id="idea" rows="4" placeholder="Leg hier uw idee uit aan ons!" formControlName="idea"></textarea>
        @if (contactForm.get('idea')?.touched && contactForm.get('idea')?.invalid) {
          @if (contactForm.get('idea')?.errors?.['required']) {
            <small>Idee is verplicht.</small>
          }
          @if (contactForm.get('idea')?.errors?.['minlength']) {
            <small>Minimaal 10 tekens.</small>
          }
          @if (contactForm.get('idea')?.errors?.['maxlength']) {
            <small>Maximaal 1000 tekens.</small>
          }
        }
      </div>

      <div class="form-group">
        <label for="additionalInfo">Extra toelichting</label>
        <textarea id="additionalInfo" rows="4" placeholder="Heeft u nog wat extra toelichting?" formControlName="additionalInfo"></textarea>
        @if (contactForm.get('additionalInfo')?.touched && contactForm.get('additionalInfo')?.invalid) {
          @if (contactForm.get('additionalInfo')?.errors?.['maxlength']) {
            <small>Maximaal 1000 tekens.</small>
          }
        }
      </div>

      <button type="submit" [disabled]="contactForm.invalid">Versturen</button>
    </form>
  }
  @else if (!isSuccess) {
    <ng-lottie class="animation" [options]="errorAnimation"></ng-lottie>
    <p>{{ errorMessage }}</p>

    <button (click)="resetForm()">Opnieuw proberen</button>
  }
  @else {
    <ng-lottie class="animation" [options]="successAnimation" (animationCreated)="handleAnimationCreated($event, 0.8)"></ng-lottie>
    <p>Het contactformulier is succesvol verzonden! Wij reageren zo snel mogelijk!</p>
  }
</section>
