.content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        height: 10%;
        width: 100%;
        font-family: 'Lora', serif;
        font-size: clamp(1.5rem, 4vw, 3rem);
        padding-bottom: 1rem;
        text-align: center;

        .welcome-text {
            white-space: nowrap;
        }

        .animation {
            display: flex;
            align-items: center;
            height: 100%;
            width: 4%;
        }
    }

    .options {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1.5rem;
        width: 90%;
    }

    .option {
        display: flex;
        flex-direction: column;
        background: rgba(27, 12, 100, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 0.3vh 1vh rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;
        border: 1px solid rgba(180, 180, 180, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.15rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        }

        .title {
            text-align: center;
        }

        ng-lottie {
            height: 60%;
            width: 60%;
        }
    }

    @media (max-width: 768px) {

        .header {
            .animation {
                width: 10%;
            }
        }

        .options {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            width: 90%;
        }
    }
}