<div class="content">
    <div class="header">
        <span class="welcome-text">Welcome back Milana</span>
        <div class="animation">
            <ng-lottie [options]="astronautTypingAnimation"></ng-lottie>
        </div>
    </div>

    <div class="options">
        <div class="option">
            <div class="title">Documenten maken</div>
            <ng-lottie [options]="createDocumentAnimation"></ng-lottie>
        </div>

        <div class="option">
            <div class="title">Analytics</div>
            <ng-lottie [options]="statisticsAnimation"></ng-lottie>
        </div>

        <div class="option">
            <div class="title">Uren</div>
            <ng-lottie [options]="timeAnimation"></ng-lottie>
        </div>

        <div class="option">
            <div class="title">Beschikbaarheid</div>
            <ng-lottie [options]="scheduleAnimation"></ng-lottie>
        </div>

        <div class="option">
            <div class="title">Inkomsten</div>
            <ng-lottie [options]="earningsAnimation"></ng-lottie>
        </div>

        <div class="option">
            <div class="title">Uitgaven</div>
            <ng-lottie [options]="expensesAnimation"></ng-lottie>
        </div>

        <div class="option">
            <div class="title">Medewerkers</div>
            <ng-lottie [options]="employeesAnimation"></ng-lottie>
        </div>

        <div class="option">
            <div class="title">Documenten</div>
            <ng-lottie [options]="createDocumentAnimation"></ng-lottie>
        </div>

        <div class="option">
            <div class="title">Documenten</div>
            <ng-lottie [options]="createDocumentAnimation"></ng-lottie>
        </div>
    </div>
</div>