<section class="process-section">
  <h2>{{ 'HOME.PROCESS.title' | translate }}</h2>
  <div class="steps">
    <div class="step">
      <div class="step-number">1</div>
      <ng-lottie [options]="step1Animation"></ng-lottie>
      <h3>{{ 'HOME.PROCESS.STEP1.title' | translate }}</h3>
      <p>{{ 'HOME.PROCESS.STEP1.explanation' | translate }}</p>
    </div>

    <div class="step">
      <div class="step-number">2</div>
      <ng-lottie [options]="step2Animation"></ng-lottie>
      <h3>{{ 'HOME.PROCESS.STEP2.title' | translate }}</h3>
      <p>{{ 'HOME.PROCESS.STEP2.explanation' | translate }}</p>
    </div>

    <div class="step">
      <div class="step-number">3</div>
      <ng-lottie [options]="step3Animation"></ng-lottie>
      <h3>{{ 'HOME.PROCESS.STEP3.title' | translate }}</h3>
      <p>{{ 'HOME.PROCESS.STEP3.explanation' | translate }}</p>
    </div>
  </div>
</section>