<section class="process-section">
  <h2>Hoe gaan wij te werk?</h2>
  <div class="steps">
    <div class="step">
      <div class="step-number">1</div>
        <ng-lottie [options]="step1Animation" ></ng-lottie>
      <h3>Stuur ons een bericht</h3>
      <p>Vul het formulier hieronder in en we nemen snel contact met u op.</p>
    </div>

    <div class="step">
      <div class="step-number">2</div>
        <ng-lottie [options]="step2Animation" ></ng-lottie>
      <h3>We plannen een afspraak</h3>
      <p>Samen kijken we wat u nodig hebt en plannen een moment om alles door te nemen.</p>
    </div>
    
    <div class="step">
      <div class="step-number">3</div>
        <ng-lottie [options]="step3Animation" ></ng-lottie>
      <h3>Aan de slag!</h3>
      <p>We vertalen uw ideeën naar een strakke, goed werkende website — precies zoals u het wilt!</p>
    </div>
  </div>
</section>