<div class="pricing-content">
    <div class="title">{{ 'PRICESANDTEMPLATES.title' | translate }}</div>

    <div class="standard-pricing">
        <div class="standard-title">{{ 'PRICESANDTEMPLATES.PRICES.standard-pricing-title' | translate }}</div>
        <div class="prices-info">
            <p [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-1' | translate"></p>
            <p [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-2' | translate"></p>
            <p [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-3' | translate"></p>
            <p [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-4' | translate"></p>
            <p [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-5' | translate"></p>

            <ul class="custom-list">
                <li [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-list-1' | translate"></li>
                <li [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-list-2' | translate"></li>
            </ul>

            <p [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-6' | translate"></p>
            <p [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-7' | translate"></p>
            <p [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-8' | translate"></p>
            <p [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-9' | translate"></p>

            <p class="cta" [innerHTML]="'PRICESANDTEMPLATES.PRICES.price-info-cta' | translate"></p>

        </div>

    </div>

    <templates-component></templates-component>
</div>