<div class="pricing-content">
    <div class="title">Prijzen & Templates</div>

    <div class="standard-pricing">
        <div class="standard-title">Standaard prijzen</div>

        <div class="prices-info">
            <p>Wij vragen <strong>€20 per uur</strong> + eenmalige administratie kosten.</p>

            <p>Voor elk project maken wij een <strong>duidelijke uurinschatting</strong> op basis van uw wensen. Elk
                onderdeel wordt apart ingeschat, zoals inlogsysteem of overzichtspagina.</p>

            <p>De totaalschatting bespreken wij met u samen, zodat u precies weet waar je aan toe bent. Pas na uw
                akkoord starten wij.</p>

            <p>Zijn wij sneller klaar? Dan betaald u alleen voor de daadwerkelijke uren.</p>

            <p>Loopt het iets uit? Dan nemen wij vantevoren contact met u op en hanteren wij een eerlijke regeling:</p>

            <ul class="custom-list">
                <li><strong>Eerste 20% van de uren extra:</strong> €10 per uur</li>
                <li><strong>Daarboven:</strong> gratis - wij nemen dat voor onze rekening</li>
            </ul>

            <p><strong>Voordbeeld:</strong></p>
            <em>Wij hebben een schatting gemaakt van <strong>10 uur</strong> en rond uur <strong>8</strong> merken wij dat wij uitlopen, dan nemen wij contact met u op en bespreken wij samen de volgende stap.</em>
            <em> Als wij samen besloten hebben om door te gaan en we komen op <strong>13 uur</strong> uit dan betaald u de geschatte prijs volledig <strong>(€200)</strong> + 20% <strong>(2 uur)</strong> van de geschatte prijs <strong>(€20)</strong> en het overig uur krijgt u van ons.</em>

            <p>Zo krijgt u altijd <strong>transparantie</strong>, <strong>duidelijkheid</strong> en een eerlijke prijs.
            </p>

            <p class="cta">💡 <em>Benieuwd wat uw idee ongeveer zou kosten? <a href="/#contact">Neem gerust contact
                        op</a> voor een vrijblijvende inschatting.</em></p>
        </div>

    </div>

    <templates-component></templates-component>
</div>